.ai-title {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-top: 7%;
}

.ai-button-div {
  text-align: right;
  margin: 0% 5% 1% 1%;
}

.ai-button {
  background-color: #3572ef;
  border: none;
  border-radius: 10px;
  padding: 8px 25px;
  color: white;
}

.ai-button:hover,
.item-orderbtn:hover {
  background-color: #050c9c;
}

.item-orderbtn {
  background-color: #3572ef;
  border: none;
  border-radius: 10px;
  padding: 8px 25px;
  color: white;
  margin-left: 1%;
}

table {
  border-collapse: collapse;
  margin-top: 2%;
  background-color: #f5f5dc;
  border: 1px solid #eeeeee;
  padding: 100px;
}

th,
td {
  padding: 0px 5px;
  text-align: center;

  border-right: 1px solid #eeeeee;
}

th {
  background-color: #d3d3d3;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.additem-btn {
  text-align: center;
  padding: 5px;
}

.add-btn {
  background-color: #3572ef;
  border: none;
  border-radius: 10px;
  padding: 8px 25px;
  color: white;
}

.add-btn:hover {
  background-color: #050c9c;
}

.cancel-button {
  background-color: #ee4e4e;
  border: none;
  border-radius: 10px;
  padding: 8px 25px;
  color: white;
}

.cancel-button:hover {
  background-color: #c80036;
}

.ai-icon {
  font-size: 16px;
  padding: 5px 10px;
}

.modal-input {
  border: 1px solid #758694;
  border-radius: 10px;
}

.modal-input:focus {
  border: 1px solid #758694;
  outline: none;
}
